<!DOCTYPE html>
<html>
<head>
  <title>Logstore</title>
  <%= stylesheet_link_tag    "logstore/application", :media => "all" %>
  <%= javascript_include_tag "logstore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
